*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(199,252,242,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 2px #d4efeb
}
.container_login{
    width: 550px;
    height: 550px;
    background-color: rgb(68, 132, 228);
}

.conteudo_login{

    justify-content: center;
}


.titulo{
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;

    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
}

.entrada_email{
    display: flex;
    justify-content: center;
}
.entrada_senha{
    display: flex;
    justify-content: center;
    position: relative;
}

#olho{
    right: 90px;
    width: 30px;
    height: 20px;
    position: absolute;
}
.entrada_nickname{
    display: flex;
    justify-content: center;
}
.entrada_email input{
    background-color: rgb(68, 132, 228);
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px;
    padding-left: 10px;
    width: 400px;
    margin-bottom: 25px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    color: white;
}

.entrada_senha input{
    background-color: rgb(68, 132, 228);
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px;
    padding-left: 10px;
    width: 400px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
    color: white;
}

.entrada_email input::placeholder { 
    font-style: italic;
    color: white;
}
.entrada_senha input::placeholder { 
    font-style: italic;color: white;
}


.botao_login button{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: rgb(68, 132, 228);
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius:15px;
    cursor: pointer;
}

.botao_login{
    display: flex;
    justify-content: center;
}
.botao_login button:hover{
    
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
    transition: 0.5s;
}

.botao_login button:active{
    
    background-color: rgb(255, 255, 255);
}

.conectar_google{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.botao_google{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 29px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    min-width: 171px;
}

.logo_google{
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conectar_face{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.botao_face{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    color: rgb(9, 114, 211);
    border: none;
    font-size: 15px;
    cursor: pointer;

}

.logo_face{
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_face img{
    width: 30px;
    height: 30px;
}

.logo_google img{
    width: 30px;
    height: 30px;
}
.imagem_lado{
    width: 550px;
    height: 550px;
}